[submodule ".emacs.d"]
	path = .emacs.d
	url = git@github.com:jjsullivan5196/dotemacs.git
[submodule ".local/share/nix-direnv"]
	path = .local/share/nix-direnv
	url = https://github.com/nix-community/nix-direnv.git
[submodule ".local/share/st"]
	path = .local/share/st
	url = git@github.com:jjsullivan5196/st-patches.git
