[submodule ".emacs.d"]
	path = .config/emacs
	url = git@github.com:jjsullivan5196/dotemacs.git
[submodule ".local/share/nix-direnv"]
	path = .local/share/nix-direnv
	url = https://github.com/nix-community/nix-direnv.git
[submodule ".local/share/st"]
	path = .local/share/st
	url = git@github.com:jjsullivan5196/st-patches.git
[submodule ".local/share/i3blocks-contrib"]
	path = .local/share/i3blocks-contrib
	url = https://github.com/vivien/i3blocks-contrib.git
